In [2]:
import pandas as pd
import numpy as np

In [3]:
requests_9292 = pd.read_csv("C:\\Users\\Sumeet Zankar\\Downloads\\DEIA-1\\9292\\PNB_Verzoeken.csv")

### 9292 REQUESTS COLUMNS ### (LOG OF ALL REQUESTS MADE ON THE 9292 APP IN NOVEMBER 2019)
# QUESTION_TULP_ID : Unique Identifier
# Opvraag datum : Request Date
# Gewenste reis datum : Desired Travel Date
# Opvraag tijd uur : Query time Hours
# Gewenste vertrek tijd uur : Desried Departure Time Hours
# Halteclusternummer begin reis : Stop Cluster Number Start Journey
# Halteclusternummer eind reis : Stop Cluster Number End Journey
# Haltenaam begin reis : Stop Name Begin Journey
# Haltenaam eind reis : Stop Name End Journey

In [4]:
advices_9292 = pd.read_csv("C:\\Users\\Sumeet Zankar\\Downloads\\DEIA-1\\9292\\PNB_Adviezen.csv")

### 9292 ADVICES COLUMNS ### (LOG OF ALL ADVICES GENERATED ON EACH OF THE PREVIOUS REQUESTS)
# QUESTION_TULP_ID : Unique Request Identifier
# Lag nummer : Lay number
# Lijn : Line
# Modaliteitsnummer : Modality Number
# Haltenummer van rit : Stop Number of Trip
# Haltenummer naar rit : Stop Number to Trip
# Reistijd lag : Travel Time 
# Startdatum lag : Start Date
# Starttijd lag : Start Time
# Haltenaam van rit : Stop Name of trip - Origin
# Haltenaam naar rit : Stop Name to trip - Destination
# Modaliteit : Modality
# Modaliteit Detail : Modality Detail

In [5]:
arriva_passenger_data = pd.read_csv("C:\\Users\\Sumeet Zankar\\Downloads\\DEIA-1\\bus data\\Bus_OD_data_WestOostBrabant_2019_11.csv",sep=';')

### ARRIVA PASSENGER DATA COLUMNS ### (ACTUAL BUS CHECK-IN NUMBERS FOR ALL BUSES THROUGH NOVEMBER 2019)
# Exploitatiedatum : Operating Date
# Concessie : Concession
# Lijnnummer : Line Number
# Station Herkomst : Origin Station
# Station : Current Station
# Totaal : Total Occupancy

In [6]:
bus_line_information = pd.read_csv("C:\\Users\\Sumeet Zankar\\Downloads\\DEIA-1\\bus data\\lijnnummer_koppeling.csv",sep=';')

### BUS LINE INFORMATION COLUMNS ### (EXTRA INFORMATION ON EACH BUS LINE NUMBER)
# Concessie : Concession
# InternLijnnummer : Internal Line Number (Used by arriva)
# PublieksLijnnummer : Public Line Number (Visible to the public and on 9292 app)
# Omschrijving : Description
# Type : Bus Line Type

In [34]:
advices_9292

,QUESTION_TULP_ID,Lag_nummer,Lijn,Modaliteitsnummer,Haltenummer_van_rit,Haltenummer_naar_rit,Reistijd_lag,Startdatum_lag,Starttijd_lag,Haltenaam_van_rit,Haltenaam_naar_rit,Modaliteit,Modaliteit_detail
0,{E58F78C9-D674-486F-A222-3FA1DAC3CE85},1,2295,25,rsd,rtd,38,2019-11-01,00:01,"Roosendaal , Roosendaal","Rotterdam Centraal , Rotterdam",Trein,Intercity
1,{E58F78C9-D674-486F-A222-3FA1DAC3CE85},2,1406,25,rtd,asd,80,2019-11-01,00:56,"Rotterdam Centraal , Rotterdam","Amsterdam Centraal , Amsterdam",Trein,Intercity
2,{BC748CDF-7A8F-4EA0-9ED3-472270E6C7FC},1,1128,25,bd,gvc,49,2019-11-01,09:53,"Breda , Breda","Den Haag Centraal , s-Gravenhage",Trein,Intercity
3,{6602FD57-C79D-4B65-BCB1-F932296599D1},1,1134,25,bd,gvc,49,2019-11-01,11:23,"Breda , Breda","Den Haag Centraal , s-Gravenhage",Trein,Intercity
4,{CDBFB3E7-7300-43C1-9E85-EAE6121F67A1},1,NaN,51,NaN,7290006,1,NaN,NaN,Onbekend,"Station , Bergen op Zoom",Lopen als modaliteit,Lopen als modaliteit
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797058,{0F71A354-3657-426E-93B4-FB1152311EE7},1,NaN,51,NaN,7220941,1,NaN,NaN,Onbekend,"Station , Etten-Leur",Lopen als modaliteit,Lopen als modaliteit
5797059,{0F71A354-3657-426E-93B4-FB1152311EE7},2,316,2,7220941,7200901,36,2019-12-01,09:33,"Station , Etten-Leur","station , Breda",Bus,Bus
5797060,{3570F134-CB54-41CE-A274-D803946FF903},1,3632,25,etn,bd,9,2019-12-01,09:36,"Etten-Leur , Etten-Leur","Breda , Breda",Trein,Intercity
5797061,{19C5BE47-829E-4739-9F40-2F2E5A6AB58D},1,6688,127,bdpb,tbu,22,2019-12-01,00:16,"Breda-Prinsenbeek , Prinsenbeek","Tilburg Universiteit , Tilburg",Trein,Sprinter
5797062,{9CFA523E-9D14-4D5D-975C-26A93B619E38},1,6640,127,bdpb,tbu,22,2019-12-01,12:16,"Breda-Prinsenbeek , Prinsenbeek","Tilburg Universiteit , Tilburg",Trein,Sprinter

In [7]:
df_haltes = pd.DataFrame(set(advices_9292[(advices_9292['Modaliteit'] == 'Bus')].Haltenaam_van_rit.unique()).union(set(advices_9292[(advices_9292['Modaliteit'] == 'Bus')].Haltenaam_naar_rit.unique())))
df_haltes.columns = ['halte']
df_haltes

                                    halte
0          Karel Doormansingel , Doesburg
1                   Havenstraat , Nijkerk
2      Rivierweg , Capelle aan den IJssel
3           Beatrixziekenhuis , Gorinchem
4                        Lips , Dordrecht
...                                   ...
11171                Duinbeek , Hoofddorp
11172         Station (Perron D) , Meppel
11173            Schelphoek , Serooskerke
11174                 Station , Zandvoort
11175               Palmelaan , Groningen

[11176 rows x 1 columns]

In [8]:
df_h = pd.DataFrame(df_haltes.halte.str.split(',',1).tolist(),columns=['naam','plaats'])
df_h

                       naam                   plaats
0      Karel Doormansingel                  Doesburg
1              Havenstraat                   Nijkerk
2                Rivierweg    Capelle aan den IJssel
3        Beatrixziekenhuis                 Gorinchem
4                     Lips                 Dordrecht
...                     ...                      ...
11171             Duinbeek                 Hoofddorp
11172   Station (Perron D)                    Meppel
11173           Schelphoek               Serooskerke
11174              Station                 Zandvoort
11175            Palmelaan                 Groningen

[11176 rows x 2 columns]

In [96]:
df_haltes[df_haltes.halte.str.contains("Universiteit")]

                                   halte
1161      Station Universiteit , Tilburg
3825       Universiteitsmuseum , Utrecht
9638       Universiteitsterrein , Leiden
9672  Universiteit van Tilburg , Tilburg

In [103]:
arriva_passenger_data[(arriva_passenger_data['Station Herkomst'] == 'Station Universiteit , Tilburg') | (arriva_passenger_data['Station']=='Station Universiteit , Tilburg')]

Empty DataFrame
Columns: [Exploitatiedatum, Concessie, Lijnnummer, Station Herkomst, Station, Totaal]
Index: []

In [83]:
bus_line_information[(bus_line_information['PublieksLijnnummer']==90)|(bus_line_information['InternLijnnummer']==90)]

,Concessie,InternLijnnummer,PublieksLijnnummer,Omschrijving,Type
102,Oost-Brabant,90,90,Grave - 's Hertogenbosch,streek

In [102]:
arriva_passenger_data.head()

,Exploitatiedatum,Concessie,Lijnnummer,Station Herkomst,Station,Totaal
0,1-11-2019,Oost-Brabant,90,Gfn Hanenberg,Ht Aartshertoge,3
1,1-11-2019,Oost-Brabant,90,Gfn Hanenberg,Ht Busstation,7
2,1-11-2019,Oost-Brabant,90,Gfn Hanenberg,Ht Stadion,2
3,1-11-2019,Oost-Brabant,90,Gfn Hanenberg,Sch Europaplein,1
4,1-11-2019,Oost-Brabant,90,Gfn Papendijk,Grv Busstation,1

In [ ]:
### MVP: 
# Given the day of the week, and the source and destination stop, product will predict expected mean bus occupancy for your trip.


### Target Variable : Bus Occupancy

### Input Variables:
### Day (Constructed from Date)
### Hour 
### Source Stop
### Destination Stop
### 


### MVP: 
## To Generate Value from 9292 request_advice data (+ arriva passenger data)

In [18]:
all_unique_source_stops = np.unique(bus_passenger_data['Station Herkomst'])

In [19]:
all_unique_stops = np.unique(bus_passenger_data['Station'])